<!doctype html>
<html ng-app="app" ng-controller="MainController">

<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <title>八仙樂園氣爆案送醫名單 - 線上查詢</title>
</head>

<body>
    <div class="header">
        <h1>八仙樂園氣爆案送醫名單 - 線上查詢</h1>
        <p>最後更新時間：{{dataMembersLastModify}}</p>
    </div>
    <hr>
    <div class="content">
        <div class="bg-info">
            <button type="button" class="btn btn-primary btn-lg"><a href="./">傷患查詢</a>
            </button>
            <button type="button" class="btn btn-success btn-lg"><a href="./contact.html">醫院與社福中心聯絡窗口</a>
            </button>

            <p>資料來源：<a href="http://doit.gov.taipei/ct.asp?xItem=108880666&ctNode=39067&mp=121001" target="_blank">臺北市資訊局</a>
            </p>
        </div>
        <div class="query">
            <span class="glyphicon glyphicon-search"></span>&nbsp;姓名搜尋
            <br>
            <input type="text" placeholder="輸入姓名以進行模糊比對, 例如： 王大仁" ng-model="inputQuery['姓名']" ng-change="fuzzySearch(inputQuery)">
        </div>
        <div class="row">
           <div class="col-md-3">人數：<span class="number">{{dataMembers.length}}</span></div>
           <div class="col-md-3">重傷：<span class="number">{{(dataMembers | filter:{'救護檢傷': '重傷'}).length}}</span></div>
           <div class="col-md-3">中傷：<span class="number">{{(dataMembers | filter:{'救護檢傷': '中傷'}).length}}</span></div>
           <div class="col-md-3">輕傷：<span class="number">{{(dataMembers | filter:{'救護檢傷': '輕傷'}).length}}</span></div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>縣市別</th>
                    <th>收治單位</th>
                    <!--<th>檢傷編號</th>-->
                    <th>姓名</th>
                    <th>性別</th>
                    <th>年齡</th>
                    <th>即時動向</th>
                    <th>救護檢傷</th>
                    <th>醫療檢傷</th>
                    <th>轉診要求</th>
                    <th>刪除註記</th>
                    <th>國籍</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in dataMembers | filter:query">
                    <td>{{i["編號"]}}</td>
                    <td>{{i["縣市別"]}}</td>
                    <td>{{i["收治單位"]}}</td>
                    <!--<td>{{i["檢傷編號"]}}</td>-->
                    <td>{{i["姓名"]}}</td>
                    <td>{{i["性別"]}}</td>
                    <td>{{i["年齡"]}}</td>
                    <td>{{i["即時動向"]}}</td>
                    <td>{{i["救護檢傷"]}}</td>
                    <td>{{i["醫療檢傷"]}}</td>
                    <td>{{i["轉診要求"]}}</td>
                    <td>{{i["刪除註記"]}}</td>
                    <td>{{i["國籍"]}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <hr>
    <div class="footer">
    </div>
</body>

</html>